name: Mark stale issues and pull requests

on:
  schedule:
    - cron: '0 12 */3 * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v5
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue has become stale and will be closed automatically within a period of time.'
        stale-pr-message: 'This pull request has become stale and will be closed automatically within a period of time.'
        stale-issue-label: 'no-issue-activity'
        stale-pr-label: 'no-pr-activity'
        days-before-stale: 90

